.navigation {
  background-color: #111916;
  display: flex;
  align-items: center;
  padding-left: 5.5vw;
  li {
    font-size: 1.2rem;
    margin-right: 1.5vw;
    cursor: pointer;
    &:hover {
      color: #cc2200;
    }
  }
  .selected {
    color: #cc2200;
  }
}
